@import "../mixins";

.link {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--primary);
  font-size: 4.5vw;

  @include tablet2 {
    font-size: 1vw;
  }

  span {
    font-size: 3.5vw;

    @include tablet2 {
      font-size: 0.8vw;
    }
  }

  //   .icon {
  //     color: var(--primary);
  //     font-size: 1.5rem;
  //   }
}
